QPushButton {
    background: #ded61f;
    border-radius: 10px;
}

QPushButton:hover {
    background: #de1f25;
}

QMainWindow {
    /*background-image: url(":/club_level/background/background_frame_0.png");*/
}