QPushButton {
    border-radius: 30px;
}

QPushButton:hover {
    background: orange;
}

QPushButton:!hover {
    background: white;
}

QPushButton:pressed {
    background: red;
}

QLabel {
    background-color: transparent;
    font-size: 20px;
    color: black;
    border-radius: 30px;
}

QLabel:hover {
    background: lightgray;
}
